* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}


.ant-table-body,
.ant-table-content,
.ant-tabs-content,
.ant-modal-content,
.ant-drawer-content {
  transform: translateZ(0);
}


.ant-notification,
.ant-message {
  resize: none;
}


.ant-layout,
.ant-layout-content {
  min-height: 100vh;
  overflow-anchor: none;
}